<div class="ba-home-navbar-background">

  <div class="navbar-brand ba-navbar-brand col-md-12"><a>Super Stonks™</a></div>

  <nav class="navbar navbar-dark navbar-expand-md col-sm-12 ba-nav-class align-content-center ">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#theMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="theMenu" class="text-center navbar-collapse collapse">

      <div class="ba-dropdown-item col-md-3 pull-right">
        <button class="btn dropdown-toggle" data-toggle="dropdown">Overview</button>
        <ul class="dropdown-menu ba-dropdown-menu">
          <li><a class="dropdown-item">My View</a></li>
          <li><a class="dropdown-item">Personal details</a></li>
          <li><a class="dropdown-item">Update details</a></li>
        </ul>
      </div>

      <div class="ba-dropdown-item col-md-3">
        <button class="btn dropdown-toggle" data-toggle="dropdown">Bank Account</button>
        <div class="dropdown-menu">
          <a class="dropdown-item">Account Summary</a>
          <a class="dropdown-item">Transaction History</a>
          <a class="dropdown-item">Register payee</a>
          <a class="dropdown-item">Fund transfer</a>
        </div>

      </div>
      <div class="ba-dropdown-item col-md-3">
        <button class="btn">Report</button>
      </div>

      <div class="ba-dropdown-item col-md-3">
        <button class="btn">Logout</button>
      </div>

    </div>
  </nav>
</div>



<!--  <ul class="nav navbar-nav ml-auto">-->
<!--    <li class="nav-item dropdown">-->
<!--      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Admin</a>-->
<!--      <div class="dropdown-menu">-->
<!--        <a class="dropdown-item">Reports</a>-->
<!--        <a class="dropdown-item">Settings</a>-->
<!--        <div class="dropdown-divider"></div>-->
<!--        <a class="dropdown-item">Logout</a>-->
<!--      </div>-->
<!--    </li>-->
<!--  </ul>-->
