<div class="ba-home-navbar-background col-md-12 overlay">

  <div>
    <a class="navbar-brand col-md-12 ba-navbar-brand pull-left" routerLink='/customer'>Super Stonks™</a>
    <a class="btn text-white pull-right">Signed in as {{getName()}}</a>
  </div>

  <nav class="navbar navbar-dark navbar-expand-md col-sm-12 ba-nav-class align-content-center ml-auto">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#theMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="theMenu" class="text-center navbar-collapse collapse">

      <div class="ba-dropdown-item col-md-3 pull-right">
        <button class="btn dropdown-toggle text-white" data-toggle="dropdown">Overview</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink='/customer/my-view'>My View</a>
          <a class="dropdown-item" routerLink='/customer/personal-details'>Personal details</a>
          <a class="dropdown-item" routerLink='/customer/update-details'>Update details</a>
        </div>
      </div>

      <div class="ba-dropdown-item col-md-3">
        <button class="btn dropdown-toggle text-white" data-toggle="dropdown">Bank Account</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink='/customer/account-summary'>Account Summary</a>
          <a class="dropdown-item" routerLink='/customer/transaction-history'>Transaction History</a>
          <a class="dropdown-item" routerLink='/customer/register-payee'>Register payee</a>
          <a class="dropdown-item" routerLink="/customer/view-payees">View payees</a>
          <a class="dropdown-item" routerLink='/customer/fund-transfer'>Fund transfer</a>
        </div>

      </div>
      <div class="ba-dropdown-item col-md-3">
        <button class="btn text-white" routerLink='/customer/report-view'>Report</button>
      </div>

      <div class="ba-dropdown-item col-md-3">
        <button class="btn text-white" routerLink='/home' (click)="logout()">Logout</button>
      </div>

    </div>
  </nav>
</div>
