.ba-home-navbar-background {
  background-image: linear-gradient(
    to right,
    #a600ff,
    #873dff,
    #6654ff,
    #4164ff,
    #006fff
  );
  position: sticky;
  top: 0;
}

// Fixes issues where dropdown menu was under the page content
.overlay {
  z-index: 99999;
}

.ba-navbar-brand {
  padding: 5px;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: Century Gothic, Consolas, serif;
  align-items: center;
  vertical-align: middle;
}

.ba-dropdown-item {
  display: inline-block;
  position: relative;
}

.ba-nav-class {
  width: 100%;
  margin: auto;
  display: inline-block;
}

.dropdown-menu {
  font-family: "Segoe UI", serif;
  position: absolute;
  right: 0;
}

.dropdown-item {
  text-align: center;
  font-family: "Segoe UI", serif;
}

.whiteText {
  color: white;
}
