<head>
  <title>{{ pageTitle }}</title>
</head>
<ba-customer-navbar></ba-customer-navbar>

<mat-card class="card bg-light">
  <mat-card-header><mat-card-title>Personal Dashboard</mat-card-title></mat-card-header>

  <mat-card-content>
    <mat-card class="bg-1">
      <mat-card-header class="sub-title">Spendings chart</mat-card-header>
      <mat-card-content>
        <div style="display: block">
          <canvas #chart width="600" height="200"></canvas>
        </div>
      </mat-card-content>
    </mat-card>

    <div class="split-card">
      <mat-card class="child-card-left bg-2">
        <mat-card-header class="sub-title">Earnings vs Spendings</mat-card-header>
        <mat-card-content class="">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis ex consectetur officia, earum repellendus asperiores quisquam dignissimos! Cumque explicabo sit modi nihil voluptates obcaecati temporibus ducimus quibusdam doloribus, aut odio.
        </mat-card-content>
      </mat-card>

      <mat-card class="child-card-right bg-3">
        <mat-card-header class="sub-title">Account Summary</mat-card-header>
        <mat-card-content>

          <mat-card class="stack-card bg-4" *ngFor="let account of customerAccounts">
            <mat-card-header><mat-card-subtitle class="card-subtitle">{{account.accountNumber}}</mat-card-subtitle></mat-card-header>
            <mat-card-content>Amount : {{account.balance | currency:'GBP'}} </mat-card-content>
          </mat-card>

        </mat-card-content>
      </mat-card>
    </div>

    <div>
      <mat-card class="bg-1 stack-card">
        <mat-card-header><mat-card-title>Set Monthly Budget Goals</mat-card-title></mat-card-header>
        <mat-card-content class="stack-card">

          <div>
            <mat-slider class="slider-class budget-input" tickInterval="1000" step="10" min="0" max="{{ sliderMaxValue }}"
            [(ngModel)]="sliderValue"></mat-slider>
            <div>
              <mat-card-title>{{sliderValue | currency:'GBP'}}</mat-card-title>
            </div>
          </div>

        <mat-form-field appearance="outline" class="budget-input">
          <mat-label>Set your budget</mat-label>
          <input matInput type="number" [(ngModel)]="sliderValue">
          <mat-hint>Auto filled to be your account balance</mat-hint>
          <mat-error></mat-error>
      </mat-form-field>
          <button class="budget-button" mat-raised-button (click)="saveBudget()">Save Budget</button>
          <mat-form-field class="budget-input">
            <mat-label>Spendings this month</mat-label>
            <input matInput [disabled]="true" value="{{monthlySpendings | currency:'GBP'}}">
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>

  </mat-card-content>


</mat-card>

<div>

</div>




<!--<script src="node_modules/chart.js/Chart.min.js"></script>-->
<!--<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>-->
