<div class="ba-navbar-background col-md-12 overlay">

  <div>
    <a class="navbar-brand col-md-12 ba-navbar-brand" routerLink='/home'>Super Stonks™</a>

  </div>
  <div class="text-center">
    <a class="btn text-white user">Signed in as {{getName()}}</a>
  </div>

  <nav class="navbar navbar-dark navbar-expand-md col-sm-12 ba-nav-class">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#theMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="theMenu" class="text-center navbar-collapse collapse align-center">


      <div class="ba-dropdown-item col-md-4">
        <button class="btn text-white" routerLink='/manager/manage-users'>Manage User</button>
      </div>

      <div class="ba-dropdown-item col-md-4">
        <button class="btn text-white" routerLink='/manager/view-customers'>View customers</button>
      </div>

      <div class="ba-dropdown-item col-md-4">
        <button class="btn text-white" routerLink='/home' (click)="logout()">Logout</button>
      </div>

    </div>
  </nav>
</div>

