<div class="mat-elevation-z8 payee-table">
  <table mat-table class="full-width-table table-responsive-md" matSort aria-label="Elements">
    <!-- payeeId Column -->
    <ng-container matColumnDef="payeeId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PayeeID</th>
      <td mat-cell *matCellDef="let row">{{row.payeeId}}</td>
    </ng-container>

    <!-- accountId Column -->
    <ng-container matColumnDef="accountId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Account ID</th>
      <td mat-cell *matCellDef="let row">{{row.accountId}}</td>
    </ng-container>

    <!-- customerId Column -->
    <ng-container matColumnDef="customerId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer ID</th>
      <td mat-cell *matCellDef="let row">{{row.customerId}}</td>
    </ng-container>

    <!-- payeeName Column -->
    <ng-container matColumnDef="payeeName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.payeeName}}</td>
    </ng-container>

    <!-- nickname Column -->
    <ng-container matColumnDef="nickname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nickname</th>
      <td mat-cell *matCellDef="let row">{{row.nickname}}</td>
    </ng-container>

    <!-- sortCode Column -->
    <ng-container matColumnDef="sortCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sort Code</th>
      <td mat-cell *matCellDef="let row">{{row.sortCode}}</td>
    </ng-container>

    <!-- description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let row">{{row.description}}</td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>
