<head>
  <title>{{pageTitle}}</title>
</head>

<ba-home-navbar></ba-home-navbar>

<div class="main-div">
  <mat-card class="card">
    <mat-card-header >
      <mat-card-title class="card-title">
        Bank of the people
      </mat-card-title>
      <mat-card-subtitle>
        Our bank revolves around our customers!
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="subcard">
      <img src="assets/images/vintage-bank.jpg" alt="headquarters">
    </mat-card-content>
    <mat-card-footer>
      <mat-card-title-group>Trusted by hundreds of people across the globe!<span></span></mat-card-title-group>
      <mat-card-subtitle>Atri Hegde©, 2022</mat-card-subtitle>
    </mat-card-footer>
  </mat-card>

  <div class="review-div">
    <mat-card class="cardcontent">
      <mat-card-header>
        <mat-card-title>Jimmy Donaldson - (MrBeast)</mat-card-title>
        <mat-card-subtitle>
          <span *ngFor="let n of numSequence(5);"> <mat-icon>star</mat-icon> </span>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="review">
          <div class="images">
            <img src="assets/images/beast.jpg" alt="MrBeast">
          </div>

          <div class="review-text">
            <p>Super stonks website is an epic website, their bank provided my with the lowest interest rate for my multi billion dollar loan.</p>
          </div>
        </div>


      </mat-card-content>
    </mat-card>
    <br>

    <mat-card class="cardcontent">
      <mat-card-header>
        <mat-card-title>Felix Arvid Ulf Kjellberg - (Pewdiepie)</mat-card-title>
        <mat-card-subtitle>
          <span *ngFor="let n of numSequence(5);"> <mat-icon>star</mat-icon> </span>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="review">
          <div class="images">
            <img src="assets/images/pewdiepie.png" alt="Pewdiepie"/>
          </div>

          <div class="review-text">
            <p>Bank that understands the people's needs</p>
          </div>
        </div>
      </mat-card-content>
      <div></div>
    </mat-card>
  </div>
  <br>

  <div class="investment">
    <mat-card class="cardcontent">
      <mat-card-title>
        An investment you won't regret
      </mat-card-title>
      <mat-card-content>
        <img src="assets/gifs/bank.gif" height="200" width="350" alt="stonks">
      </mat-card-content>
    </mat-card>
  </div>
  <br>

</div>

<ba-bottom-bar></ba-bottom-bar>
