.main-div{
  background-color: #f6f5f5;
}
.content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.p-review{
  text-align: justify;
}

.images{
  display: inline-flex;
}

.card{
  width: 90%;
  margin: 2.5rem auto;

}

.review-div{
  width: 75%;
  margin: auto;
}

.subcard{
  width: 60%;
  margin: auto auto;
  display: flex;
}
.cardcontent{
  flex: auto;
}

.card-title{
  font-size: 26px;
  display: flex;
}

.review{
  display: inline-flex;
}

.review-text{
  padding: 1rem;
}

.image{
  float:left;
}

.investment{
  width: 20%;
  margin: auto;
}
