.card{
  width: 90%;
  margin: 0.5rem auto;
  display: grid;
}

.left-card{
  display:flex;
}

.right-card{
  // display: block;
}

.upper-card{
  display: block;

}

.lower-card{
  display: block;

}
