<head>
  <title>{{ pageTitle }}</title>
</head>

<div>
<div>
  <ba-customer-navbar></ba-customer-navbar>
</div>

<div>
  <form>
    <mat-card class="card">

      <mat-card-header>
        <mat-card-title>Update Details</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-label>First Name: </mat-label>
        <input matInput [placeholder]=''>

        <mat-label>First Name: </mat-label>
        <input matInput [placeholder]=''>

      </mat-card-content>

    </mat-card>
  </form>
</div>
</div>
