<div class="ba-home-navbar-background col-md-12 overlay">
  <div>
    <a class="navbar-brand col-md-12 ba-navbar-brand text-center">Super Stonks™</a>
  </div>
  <nav class="navbar navbar-dark ba-nav-class navbar-expand-md col-md-12 align-content-center ml-auto">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#theMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="theMenu" class="text-center navbar-collapse collapse">
      <div class="col-md-4 text-center">
        <button class="btn" routerLink="/teller/withdraw">Withdraw</button>
      </div>
      <div class="col-md-4 text-center">
        <button class="btn" routerLink="/teller/deposit">Deposit</button>
      </div>
      <div class="col-md-4 text-center">
        <button class="btn">Logout</button>
      </div>
    </div>
  </nav>
</div>
