.ba-home-navbar-background {
  background-image: linear-gradient(
    to right,
    #00bdff,
    #00d6ff,
    #00eae6,
    #00f89a,
    #00ff0b
  );
  position: sticky;
  top: 0;
}

.ba-nav-class {
  width: 100%;
  margin: auto;
}
