<head>
  <title>{{ pageTitle }}</title>
</head>
<ba-customer-navbar></ba-customer-navbar>



<mat-card class="card">
  <mat-tab-group mat-align-tabs="center">

    <mat-tab label="Add user" class="center-items">
      <ng-template mat-tab-label>
        <mat-icon class="matIcon">featured_play_list</mat-icon>
        <br>{{customerAccounts[0].type}}<br>[{{customerAccounts[0].accountNumber}}]
      </ng-template>
      <mat-form-field>
        <input matInput type="text" (keyup)="doFilter0(filter0)" [(ngModel)]="filter0" placeholder="Filter">
      </mat-form-field>
      <button mat-raised-button class="pull-right" (click)="getData()">Click to refresh table</button>
      <br>
      <table mat-table class="full-width-table" [dataSource]="dataSource0" matSort>
        <ng-container matColumnDef="accountNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Number </th>
          <td mat-cell *matCellDef="let element"> {{element.accountNumber}} </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>
        <ng-container matColumnDef="transDateTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
          <td mat-cell *matCellDef="let element"> {{element.transDateTime | date:'short'}} </td>
        </ng-container>
        <ng-container matColumnDef="createdBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
          <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50, 100]"></mat-paginator>



    </mat-tab>

    <mat-tab label="Edit user">
      <ng-template mat-tab-label>
        <mat-icon class="matIcon">account_balance_wallet</mat-icon>
        <br>{{customerAccounts[1].type}}<br>[{{customerAccounts[1].accountNumber}}]
      </ng-template>
      <mat-form-field>
        <input matInput type="text" (keyup)="doFilter1(filter1)" [(ngModel)]="filter1" placeholder="Filter">
      </mat-form-field>
      <button mat-raised-button class="pull-right" (click)="getData()">Click to refresh table</button>
      <br>
      <table mat-table class="full-width-table" [dataSource]="dataSource1" matSort>
        <ng-container matColumnDef="accountNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Number </th>
          <td mat-cell *matCellDef="let element"> {{element.accountNumber}} </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>
        <ng-container matColumnDef="transDateTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
          <td mat-cell *matCellDef="let element"> {{element.transDateTime | date:'short'}} </td>
        </ng-container>
        <ng-container matColumnDef="createdBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
          <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50, 100]"></mat-paginator>


    </mat-tab>

  </mat-tab-group>
</mat-card>








