.ba-home-navbar-background {
  background-image: linear-gradient(
    to right,
    #ff4646,
    #ff1a6d,
    #ff009b,
    #f21acd,
    #c04aff
  );
  position: sticky;
  top: 0;
}

.navbar-brand{
  padding: 5px;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: Century Gothic, Consolas, serif;
  align-items: center;
  vertical-align: middle;
}

.nav-item {
  font-family:"Segoe UI", serif;
  color: white;
  cursor: pointer;
}
