.ba-home-navbar-background {
  background-image: linear-gradient(
    to right,
    #ff4646,
    #ff1a6d,
    #ff009b,
    #f21acd,
    #c04aff
  );
  position: sticky;
  top: 0;
}

.user-buttons{
  color: white;
  background-color: #9c3dce;
  border-color: black;
  border-radius: 0.5rem;
  margin: 0.5rem;
}

.navbar-brand{
  padding: 5px;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: Century Gothic, Consolas, serif;
  align-items: center;
  vertical-align: middle;
}

.nav-item {
  font-family:"Segoe UI", serif;
  color: white;
  cursor: pointer;
}

#menu > li:last-child
{
  float:right;
}
