<nav class="navbar navbar-expand-md navbar-dark fixed-top ba-home-navbar-background">

  <a class="navbar-brand" href="#">Super Stonks™</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse" #menu>

    <div class="ba-dropdown-item">
      <button class="btn text-white" routerLink="/home">Home</button>
    </div>

    <div class="ba-dropdown-item">
      <button class="btn dropdown-toggle text-white" data-toggle="dropdown" *ngIf="!isLoggedIn()">Login</button>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="loginPopup()">Login - popup</a>
        <a class="dropdown-item" (click)="loginRedirect()">Login - redirect</a>
      </div>
    </div>

    <div class="ba-dropdown-item">
      <button class="btn text-white" (click)="setRole()" *ngIf="!isRoleLoaded && isLoggedIn()">Load Portal</button>
    </div>

    <div>
      <button mat-raised-button class="user-buttons" *ngIf="isCustomer"  routerLink="/customer">Customer Portal</button>
      <button mat-raised-button class="user-buttons" *ngIf="isTeller"  routerLink="/teller">Teller Portal</button>
      <button mat-raised-button class="user-buttons" *ngIf="isOfficer"  routerLink="/officer">Officer Portal</button>
      <button mat-raised-button class="user-buttons" *ngIf="isManager"  routerLink="/manager">Manager Portal</button>
    </div>


  </div>


  <button mat-raised-button class="user-buttons" (click)="logout()" *ngIf="isLoggedIn()">Logout</button>

</nav>
