<div *ngIf="withdraw; else elseTitleBlock">
  <title>{{PageTitle_withdraw}}</title>
</div>
<ng-template #elseTitleBlock><title>{{PageTitle_deposit}}</title></ng-template>
<ba-teller-navbar></ba-teller-navbar>

<!-- <span class="col-md-4"></span>

<div class="text-center">
  <button mat-raised-button color="primary" class="wd-button" (click)="withdraw = !withdraw">
    {{ withdraw ? "Deposit" : "Withdraw" }}
  </button>
</div>

<div>
  <div *ngIf="withdraw; else elseBlock">
    <ba-teller-withdraw></ba-teller-withdraw>
  </div>
  <ng-template #elseBlock><ba-teller-deposit></ba-teller-deposit></ng-template>
</div>-->

<router-outlet></router-outlet>

