<br>
<br>
<footer class="main-div">

  <div align="center">
    <a class="text" href="https://github.com/hegde-atri/BankingApplication-fe" target="_blank">Frontend codebase</a>
    <a href="https://github.com/hegde-atri/BankingApplication-fe" target="_blank">
      <img src="https://www.vectorlogo.zone/logos/angular/angular-icon.svg" height="40" width="40" alt="front-end codebase">
    </a>

    <a class="atrihegde">Atri Hegde©, 2022</a>

    <a class="text" href="https://github.com/hegde-atri/BankingApplication-be" target="_blank">Backend codebase</a>
    <a href="https://github.com/hegde-atri/BankingApplication-be" target="_blank">
      <img src="assets/images/netcore.svg" height="40" width="40" alt="back-end codebase">
    </a>
  </div>
</footer>

