.full-width-table {
  width: 100%;
}
.payee-table {
  width: 60%;
  margin: 25px auto;
}

.card {
  width: 75%;
  margin: 15px auto;
}

.mat-column-accountNumber{
  padding-right: 0.5rem;
  text-align: center;
}

.mat-column-type {
  padding-left: 16px;
}

.mat-column-balance {
  text-align: right;
  padding-right: 0.5rem;
}
