.ba-home-navbar-background {
  background-image: linear-gradient(
      to right,
      #0066a9,
      #0082a9,
      #0095a9,
      #00a99b,
      #00a97c
  );
  position: sticky;
  top: 0;
}

.overlay {
  z-index: 99999;
}

.ba-navbar-brand {
  padding: 5px;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: Century Gothic, Consolas, serif;
  align-items: center;
  vertical-align: middle;
}

.ba-dropdown-item {
  display: inline-block;
  position: relative;
}

.ba-nav-class {
  width: 100%;
  margin: auto;
  display: inline-block;
}

.dropdown-menu {
  font-family: "Segoe UI", serif;
  position: absolute;
  right: 0;
}

.dropdown-item {
  text-align: center;
  font-family: "Segoe UI", serif;
}

.whiteText {
  color: white;
}
